
Flask==2.0.3
flask-sqlalchemy
pip==20.0.2
PyMySQL==1.0.2
SQLAlchemy==1.4.48
SQLAlchemy-serializer==1.4.1
Werkzeug==2.1.2
flask-marshmallow==0.15.0
marshmallow-sqlalchemy==0.29.0

# packages for auth
passlib
flask-jwt-extended==4.5.2


